body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('three.jpg');
    background-size: cover;
    background-position: center center;
}

#app {
    text-align: center;
    background-color: #00fc00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('two.jpg');
    background-size: cover;
    background-position: center center;
}

input[type="text"] {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}